.footer {
	background: rgba(15, 12, 38);
	padding: 5px;
	border-radius: 0 0 7px 7px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;

	.logo {
		display: flex; /*cuando agregas flex a un contenedor que tiene una imágen, la imágen deja de respetar espacios*/
		/* flex-direction: column; */
		gap: 2px;
		align-items: center;
		text-decoration: none;
		color: white;
		cursor: pointer;

		img {
			width: 20vw;
			max-width: 50px;
		}

		p {
			font-size: 14px;
		}
	}

	.links {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;

		a {
			font-size: 14px;
			font-weight: 400;
			color: white;
		}
	}

	@media screen and (max-width: 576px) {
		& {
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			margin-bottom: 20px;

			.logo {
				align-items: center;
			}
			.links {
				justify-content: center;
				gap: 5px;
			}
		}
	}
	@media screen and (max-width: 414px) {
		& {
			.logo {
				p {
					text-align: center;
				}
			}
		}
	}
}
