:root {
	--icono: 40px;
	--icono-profile: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: rgba(254, 255, 254);
	padding: 10px;
	margin-bottom: 20px;
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	.inicio {
		display: flex;
		gap: 10px;
		align-items: center;
		.icono {
			width: var(--icono);
			height: var(--icono);
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.logo {
			color: var(--azul-primario);
		}
		.lupa {
			color: gray;
			background: rgba(240, 242, 245);
			border-radius: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				padding: 6px;
				width: 90%;
				height: 90%;
			}
		}
	}

	.botones {
		display: flex;
		gap: 10px;
		align-items: center;
		.icono {
			width: var(--icono);
			height: var(--icono);

			&.perfil {
				width: var(--icono-profile);
				height: var(--icono-profile);
				svg {
					background: rgba(228, 231, 232);
					color: rgb(171, 175, 177);
				}
			}

			svg {
				width: 100%;
				height: 100%;
				color: rgba(8, 9, 8);
				background: rgba(227, 228, 233);
				padding: 6px;
				border-radius: 100px;
			}
		}
	}
}

.share {
	background: rgba(254, 255, 254);
	display: grid;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

	.principal {
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: center;
		align-items: center;
		gap: 10px;

		.profile {
			a {
				width: var(--icono-profile);
				height: var(--icono-profile);
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					background: rgba(228, 231, 232);
					color: rgb(171, 175, 177);
					width: 100%;
					height: 100%;
					padding: 6px;
					border-radius: 100px;
				}
			}
		}
		.input {
			input {
				font-size: 16px;
				width: 100%;
				padding: 8px 10px;
				background-color: rgba(241, 242, 244);
				border: none;
				border-radius: 20px;
			}
		}
	}
	.multimedia {
		.iconos {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.icono {
				display: flex;
				align-items: center;
				gap: 10px;
				text-decoration: none;
				padding: 10px;

				p {
					color: rgba(100, 104, 108);
				}

				&:nth-child(1) {
					svg {
						color: rgba(241, 40, 73);
					}
				}
				&:nth-child(2) {
					svg {
						color: rgba(69, 188, 98);
					}
				}
				&:nth-child(3) {
					svg {
						color: rgba(253, 87, 119);
					}
				}
			}
		}
	}

	@media screen and (max-width: 378px) {
		& {
			gap: 5px;
			padding: 5px;
			.principal {
				gap: 5px;
				.profile {
					a {
						width: 40px;
						height: 40px;
					}
				}
				.input {
					input {
						font-size: 14px;
					}
				}
			}
			.multimedia {
				.iconos {
					.icono {
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		font-size: 25px;
		font-family: Helvetica, sans-serif;
		letter-spacing: 1px;
		font-weight: 800;
		color: var(--azul-primario);
	}
	.botones {
		display: flex;
		gap: 5px;

		.boton {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 7px;
			border-radius: 100px;
			background: rgb(217, 217, 217);
			svg {
				width: 100%;

				width: 100%;
			}
		}
	}
}

.navbar {
	display: flex;
	justify-content: space-around;
	padding: 15px 0;

	.icono {
		width: 20px;
		height: 20px;
		svg {
			width: 100%;
			height: 100%;
			color: rgb(111, 111, 111);
		}

		&.active {
			svg {
				color: var(--azul-primario);
				position: relative;

			
			}
		}
	}
} */
