.stories {
	display: grid;
	grid-template-columns: repeat(5, 150px);
	gap: 12px;
	overflow-x: auto;
	margin-bottom: 20px;

	.story {
		/* min-width: 150px; */
		height: 210px;
		border-radius: 12px;
		position: relative;
		overflow: hidden;
		background: #ffffff;
		cursor: pointer;
		box-shadow:
			rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
			rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		.perfil {
			object-fit: contain;
			object-position: top;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		span {
			position: absolute;
			text-align: center;
			bottom: 8px;
			left: 50%;
			transform: translateX(-50%);
			color: white;
			font-size: 13px;
			font-weight: 600;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
		}

		&.crear {
			background: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				color: black;
				bottom: 7px;
				text-shadow: none;
			}
		}
		.plus {
			width: 20px;
			height: 20px;
			background: #1877f2;
			color: white;
			border-radius: 50%;
			font-size: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 17%;
			transform: translateY(-50%);
		}
	}

	@media screen and (max-width: 378px) {
		& {
			grid-template-columns: repeat(5, 110px);
			.story {
				height: 180px;
			}
		}
	}
}
